@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans Condensed', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #f7da64;
  border-color: #f7da64;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #f3c91b;
  border-color: #f3c91b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f3c91b !important;
  border-color: #f3c91b !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #e9bd0c;
  color: #e9bd0c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f7da64;
  border-color: #f7da64;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f7da64 !important;
  border-color: #f7da64 !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#header1-k .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#header1-k .mbr-section-lead {
  font-size: 24px;
}
#menu-2u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2u .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-2u .navbar-toggler {
  color: #ffffff;
}
#menu-2u .link,
#menu-2u .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-2u .link {
  font-size: 0.8rem;
}
#menu-2u .dropdown-item,
#menu-2u .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-2u .link:hover,
#menu-2u .dropdown-item:hover,
#menu-2u .link:focus,
#menu-2u .dropdown-item:focus {
  color: #c0a375;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-menu {
  background: #000000;
}
#menu-2u .nav-dropdown-sm .link:focus,
#menu-2u .nav-dropdown-sm .link:hover,
#menu-2u .nav-dropdown-sm .dropdown-item:focus,
#menu-2u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2u .navbar,
#menu-2u .nav-dropdown-sm,
#menu-2u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2u .bg-color.transparent.opened .link:hover,
#menu-2u .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-2u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2u .close-icon::before,
#menu-2u .close-icon::after {
  background-color: #ffffff;
}
#menu-2u .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-x .mbr-section-title,
#msg-box8-x p {
  color: #fff;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}



#pricing-table2-18 .mbr-plan-header,
#pricing-table2-18 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-18 ul,
#pricing-table2-18 .mbr-plan-title,
#pricing-table2-18 .mbr-price-value,
#pricing-table2-18 .mbr-price-figure,
#pricing-table2-18 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-18 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-18 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}



#form1-1w .form-control-label {
  color: #232323;
}
#social-buttons4-1y .mbr-section-title,
#social-buttons4-1y .btn-social {
  color: #fff;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-24 .mbr-section-title,
#msg-box8-24 p {
  color: #fff;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-2a .mbr-section-title,
#msg-box8-2a p {
  color: #fff;
}
#msg-box8-2a .mbr-section-title {
  text-align: center;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-2e .mbr-section-title,
#msg-box8-2e p {
  color: #fff;
}
#msg-box8-2e .mbr-section-title {
  text-align: center;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}




#header1-2p .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
}
#header1-2p .mbr-section-lead {
  font-size: 24px;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-2x .mbr-section-title,
#msg-box8-2x p {
  color: #fff;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}



#pricing-table2-37 .mbr-plan-header,
#pricing-table2-37 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-37 ul,
#pricing-table2-37 .mbr-plan-title,
#pricing-table2-37 .mbr-price-value,
#pricing-table2-37 .mbr-price-figure,
#pricing-table2-37 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-37 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-37 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}



#form1-3c .form-control-label {
  color: #232323;
}
#social-buttons4-3e .mbr-section-title,
#social-buttons4-3e .btn-social {
  color: #fff;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-3h .mbr-section-title,
#msg-box8-3h p {
  color: #fff;
}
#msg-box8-3h .lead {
  color: #ffffff;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-3l .mbr-section-title,
#msg-box8-3l p {
  color: #fff;
}
#msg-box8-3l .mbr-section-title {
  text-align: center;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}



#msg-box8-3p .mbr-section-title,
#msg-box8-3p p {
  color: #fff;
}
#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}



#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}







#menu-46 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-46 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .navbar-toggler {
  color: #ffffff;
}
#menu-46 .link,
#menu-46 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-46 .link {
  font-size: 0.8rem;
}
#menu-46 .dropdown-item,
#menu-46 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-46 .link:hover,
#menu-46 .dropdown-item:hover,
#menu-46 .link:focus,
#menu-46 .dropdown-item:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-menu {
  background: #000000;
}
#menu-46 .nav-dropdown-sm .link:focus,
#menu-46 .nav-dropdown-sm .link:hover,
#menu-46 .nav-dropdown-sm .dropdown-item:focus,
#menu-46 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-46 .navbar,
#menu-46 .nav-dropdown-sm,
#menu-46 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-46 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-46 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-46 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-46 .bg-color.transparent.opened .link:hover,
#menu-46 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-46 .link[aria-expanded="true"],
#menu-46 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-46.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-46 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-46 .close-icon::before,
#menu-46 .close-icon::after {
  background-color: #ffffff;
}
#menu-46 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-48 .mbr-section-title,
#msg-box8-48 p {
  color: #fff;
}
#buttons1-4p .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-5b .mbr-section-title,
#header3-5b .mbr-section-subtitle {
  text-align: center;
}
#header3-5b H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-4b H3 {
  font-size: 24px;
}
#msg-box4-49 P {
  text-align: left;
  font-size: 11px;
}
#msg-box4-49 H3 {
  font-size: 24px;
}
#msg-box4-4a H3 {
  font-size: 24px;
}
#header3-5c .mbr-section-title,
#header3-5c .mbr-section-subtitle {
  text-align: center;
}
#header3-4d .mbr-section-title,
#header3-4d .mbr-section-subtitle {
  text-align: center;
}
#header3-4d H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-4d SMALL {
  font-size: 12px;
}
#header3-5d .mbr-section-title,
#header3-5d .mbr-section-subtitle {
  text-align: center;
}
#header3-4q .mbr-section-title,
#header3-4q .mbr-section-subtitle {
  text-align: center;
}
#header3-4q H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#header3-4q SMALL {
  font-size: 12px;
}
#content1-4u P {
  text-align: left;
}







#msg-box8-5g .mbr-section-title,
#msg-box8-5g p {
  color: #fff;
}
#buttons1-5i .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-5j .mbr-section-title,
#header3-5j .mbr-section-subtitle {
  text-align: center;
}
#header3-5j H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-5k H3 {
  font-size: 24px;
}
#msg-box4-5l P {
  text-align: left;
  font-size: 11px;
}
#msg-box4-5l H3 {
  font-size: 24px;
}
#msg-box4-5m H3 {
  font-size: 24px;
}
#header3-5n .mbr-section-title,
#header3-5n .mbr-section-subtitle {
  text-align: center;
}
#header3-5o .mbr-section-title,
#header3-5o .mbr-section-subtitle {
  text-align: center;
}
#header3-5o H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-5o SMALL {
  font-size: 12px;
}
#header3-5q .mbr-section-title,
#header3-5q .mbr-section-subtitle {
  text-align: center;
}
#header3-5r .mbr-section-title,
#header3-5r .mbr-section-subtitle {
  text-align: center;
}
#header3-5r H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#header3-5r SMALL {
  font-size: 12px;
}
#content1-62 P {
  text-align: left;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}






#menu-6j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6j .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-6j .navbar-toggler {
  color: #ffffff;
}
#menu-6j .link,
#menu-6j .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-6j .link {
  font-size: 0.8rem;
}
#menu-6j .dropdown-item,
#menu-6j .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-6j .link:hover,
#menu-6j .dropdown-item:hover,
#menu-6j .link:focus,
#menu-6j .dropdown-item:focus {
  color: #c0a375;
}
#menu-6j .link[aria-expanded="true"],
#menu-6j .dropdown-menu {
  background: #000000;
}
#menu-6j .nav-dropdown-sm .link:focus,
#menu-6j .nav-dropdown-sm .link:hover,
#menu-6j .nav-dropdown-sm .dropdown-item:focus,
#menu-6j .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-6j .navbar,
#menu-6j .nav-dropdown-sm,
#menu-6j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6j .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-6j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6j .bg-color.transparent.opened .link:hover,
#menu-6j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-6j .link[aria-expanded="true"],
#menu-6j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-6j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6j .close-icon::before,
#menu-6j .close-icon::after {
  background-color: #ffffff;
}
#menu-6j .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-6k .mbr-section-title,
#msg-box8-6k p {
  color: #fff;
}
#buttons1-6m .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-6n .mbr-section-title,
#header3-6n .mbr-section-subtitle {
  text-align: center;
}
#header3-6n H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-6o H3 {
  font-size: 24px;
}
#msg-box4-6p P {
  text-align: left;
  font-size: 11px;
}
#msg-box4-6p H3 {
  font-size: 24px;
}
#msg-box4-6q H3 {
  font-size: 24px;
}
#header3-6r .mbr-section-title,
#header3-6r .mbr-section-subtitle {
  text-align: center;
}
#header3-6s .mbr-section-title,
#header3-6s .mbr-section-subtitle {
  text-align: center;
}
#header3-6s H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-6s SMALL {
  font-size: 12px;
}
#header3-6u .mbr-section-title,
#header3-6u .mbr-section-subtitle {
  text-align: center;
}






#msg-box8-7h .mbr-section-title,
#msg-box8-7h p {
  color: #fff;
}
#buttons1-7j .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-7k .mbr-section-title,
#header3-7k .mbr-section-subtitle {
  text-align: center;
}
#header3-7k H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-7l H3 {
  font-size: 24px;
}
#msg-box4-7m P {
  text-align: left;
  font-size: 11px;
}
#msg-box4-7m H3 {
  font-size: 24px;
}
#msg-box4-7n H3 {
  font-size: 24px;
}
#header3-7o .mbr-section-title,
#header3-7o .mbr-section-subtitle {
  text-align: center;
}
#header3-7p .mbr-section-title,
#header3-7p .mbr-section-subtitle {
  text-align: center;
}
#header3-7p H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-7p SMALL {
  font-size: 12px;
}
#header3-7r .mbr-section-title,
#header3-7r .mbr-section-subtitle {
  text-align: center;
}
#ext_menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-43 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-43 .close-icon::before,
#ext_menu-43 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-43 .link,
#ext_menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-43 .link {
  font-size: 0.8rem;
}
#ext_menu-43 .dropdown-item,
#ext_menu-43 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-43 .link:hover,
#ext_menu-43 .dropdown-item:hover,
#ext_menu-43 .link:focus,
#ext_menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-43 .nav-dropdown-sm .link:focus,
#ext_menu-43 .nav-dropdown-sm .link:hover,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-43 .navbar,
#ext_menu-43 .nav-dropdown-sm,
#ext_menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-43 .bg-color.transparent.opened .link:hover,
#ext_menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-43 .link[aria-expanded="true"],
#ext_menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-43 .btn {
  font-family: 'Oswald', sans-serif;
}






#menu-7t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-7t .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-7t .navbar-toggler {
  color: #ffffff;
}
#menu-7t .link,
#menu-7t .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-7t .link {
  font-size: 0.8rem;
}
#menu-7t .dropdown-item,
#menu-7t .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-7t .link:hover,
#menu-7t .dropdown-item:hover,
#menu-7t .link:focus,
#menu-7t .dropdown-item:focus {
  color: #c0a375;
}
#menu-7t .link[aria-expanded="true"],
#menu-7t .dropdown-menu {
  background: #000000;
}
#menu-7t .nav-dropdown-sm .link:focus,
#menu-7t .nav-dropdown-sm .link:hover,
#menu-7t .nav-dropdown-sm .dropdown-item:focus,
#menu-7t .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-7t .navbar,
#menu-7t .nav-dropdown-sm,
#menu-7t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-7t .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-7t .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-7t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-7t .bg-color.transparent.opened .link:hover,
#menu-7t .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-7t .link[aria-expanded="true"],
#menu-7t .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-7t.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7t .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7t .close-icon::before,
#menu-7t .close-icon::after {
  background-color: #ffffff;
}
#menu-7t .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-7u .mbr-section-title,
#msg-box8-7u p {
  color: #fff;
}
#buttons1-7w .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-7x .mbr-section-title,
#header3-7x .mbr-section-subtitle {
  text-align: center;
}
#header3-7x H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-7y H3 {
  font-size: 24px;
}
#msg-box4-7z P {
  text-align: left;
  font-size: 17px;
}
#msg-box4-7z H3 {
  font-size: 24px;
}
#msg-box4-80 H3 {
  font-size: 24px;
}
#header3-81 .mbr-section-title,
#header3-81 .mbr-section-subtitle {
  text-align: center;
}
#header3-82 .mbr-section-title,
#header3-82 .mbr-section-subtitle {
  text-align: center;
}
#header3-82 H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-82 SMALL {
  font-size: 12px;
}
#header3-84 .mbr-section-title,
#header3-84 .mbr-section-subtitle {
  text-align: center;
}






#msg-box8-99 .mbr-section-title,
#msg-box8-99 p {
  color: #fff;
}
#buttons1-89 .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-8a .mbr-section-title,
#header3-8a .mbr-section-subtitle {
  text-align: center;
}
#header3-8a H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-8b H3 {
  font-size: 24px;
}
#msg-box4-8c P {
  text-align: left;
  font-size: 17px;
}
#msg-box4-8c H3 {
  font-size: 24px;
}
#msg-box4-8d H3 {
  font-size: 24px;
}
#header3-8e .mbr-section-title,
#header3-8e .mbr-section-subtitle {
  text-align: center;
}
#header3-8f .mbr-section-title,
#header3-8f .mbr-section-subtitle {
  text-align: center;
}
#header3-8f H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-8f SMALL {
  font-size: 12px;
}
#header3-8h .mbr-section-title,
#header3-8h .mbr-section-subtitle {
  text-align: center;
}
#ext_menu-98 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-98 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-98 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-98 .close-icon::before,
#ext_menu-98 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-98 .link,
#ext_menu-98 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-98 .link {
  font-size: 0.8rem;
}
#ext_menu-98 .dropdown-item,
#ext_menu-98 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-98 .link:hover,
#ext_menu-98 .dropdown-item:hover,
#ext_menu-98 .link:focus,
#ext_menu-98 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-98 .link[aria-expanded="true"],
#ext_menu-98 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-98 .nav-dropdown-sm .link:focus,
#ext_menu-98 .nav-dropdown-sm .link:hover,
#ext_menu-98 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-98 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-98 .navbar,
#ext_menu-98 .nav-dropdown-sm,
#ext_menu-98 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-98 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-98 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-98 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-98 .bg-color.transparent.opened .link:hover,
#ext_menu-98 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-98 .link[aria-expanded="true"],
#ext_menu-98 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-98 .btn {
  font-family: 'Oswald', sans-serif;
}






#menu-8j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8j .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-8j .navbar-toggler {
  color: #ffffff;
}
#menu-8j .link,
#menu-8j .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-8j .link {
  font-size: 0.8rem;
}
#menu-8j .dropdown-item,
#menu-8j .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-8j .link:hover,
#menu-8j .dropdown-item:hover,
#menu-8j .link:focus,
#menu-8j .dropdown-item:focus {
  color: #c0a375;
}
#menu-8j .link[aria-expanded="true"],
#menu-8j .dropdown-menu {
  background: #000000;
}
#menu-8j .nav-dropdown-sm .link:focus,
#menu-8j .nav-dropdown-sm .link:hover,
#menu-8j .nav-dropdown-sm .dropdown-item:focus,
#menu-8j .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-8j .navbar,
#menu-8j .nav-dropdown-sm,
#menu-8j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8j .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-8j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8j .bg-color.transparent.opened .link:hover,
#menu-8j .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8j .link[aria-expanded="true"],
#menu-8j .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-8j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-8j .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-8j .close-icon::before,
#menu-8j .close-icon::after {
  background-color: #ffffff;
}
#menu-8j .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box8-8k .mbr-section-title,
#msg-box8-8k p {
  color: #fff;
}
#buttons1-8m .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-8n .mbr-section-title,
#header3-8n .mbr-section-subtitle {
  text-align: center;
}
#header3-8n H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-8o H3 {
  font-size: 24px;
}
#msg-box4-8p P {
  text-align: left;
  font-size: 17px;
}
#msg-box4-8p H3 {
  font-size: 24px;
}
#msg-box4-8q H3 {
  font-size: 24px;
}
#header3-8r .mbr-section-title,
#header3-8r .mbr-section-subtitle {
  text-align: center;
}
#header3-8s .mbr-section-title,
#header3-8s .mbr-section-subtitle {
  text-align: center;
}
#header3-8s H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-8s SMALL {
  font-size: 12px;
}
#header3-8u .mbr-section-title,
#header3-8u .mbr-section-subtitle {
  text-align: center;
}






#msg-box8-8x .mbr-section-title,
#msg-box8-8x p {
  color: #fff;
}
#buttons1-8z .btn {
  font-family: 'Oswald', sans-serif;
}
#header3-90 .mbr-section-title,
#header3-90 .mbr-section-subtitle {
  text-align: center;
}
#header3-90 H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: right;
}
#msg-box4-91 H3 {
  font-size: 24px;
}
#msg-box4-92 P {
  text-align: left;
  font-size: 17px;
}
#msg-box4-92 H3 {
  font-size: 24px;
}
#msg-box4-93 H3 {
  font-size: 24px;
}
#header3-94 .mbr-section-title,
#header3-94 .mbr-section-subtitle {
  text-align: center;
}
#header3-95 .mbr-section-title,
#header3-95 .mbr-section-subtitle {
  text-align: center;
}
#header3-95 H3 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-align: right;
}
#header3-95 SMALL {
  font-size: 12px;
}
#header3-97 .mbr-section-title,
#header3-97 .mbr-section-subtitle {
  text-align: center;
}
#ext_menu-98 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-98 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-98 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-98 .close-icon::before,
#ext_menu-98 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-98 .link,
#ext_menu-98 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-98 .link {
  font-size: 0.8rem;
}
#ext_menu-98 .dropdown-item,
#ext_menu-98 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-98 .link:hover,
#ext_menu-98 .dropdown-item:hover,
#ext_menu-98 .link:focus,
#ext_menu-98 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-98 .link[aria-expanded="true"],
#ext_menu-98 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-98 .nav-dropdown-sm .link:focus,
#ext_menu-98 .nav-dropdown-sm .link:hover,
#ext_menu-98 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-98 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-98 .navbar,
#ext_menu-98 .nav-dropdown-sm,
#ext_menu-98 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-98 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-98 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-98 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-98 .bg-color.transparent.opened .link:hover,
#ext_menu-98 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-98 .link[aria-expanded="true"],
#ext_menu-98 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-98 .btn {
  font-family: 'Oswald', sans-serif;
}
